time {
    display: block;
}

.post {
    margin-bottom: 24px;
}

.btn-primary {
    margin-top: 8px;
}

.alert-success {
    margin-top: 16px;
}

.btn-outline-success {
    margin-top: 16px;
    margin-bottom: 16px;
}